<section class="pt-2 pt-md-4">
</div>
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-12 col-md">

                <!-- Heading -->
                <h3 class="mb-0">
                    Last Realisation
                </h3>

                <!-- Text -->
                <p class="mb-0 text-muted">
                    we have the list of the last realisation of the author.
                </p>

            </div>
            <div class="col-12 col-md-auto">

                <!-- Button -->
                <a href="#!" class="btn btn-sm btn-outline-blue-300 d-none d-md-inline">
                View all
                </a>

            </div>
        </div> 
        <!-- / .row -->
        <div class="row" style="margin-left: 25%;">
            <div class="col-12 col-lg-11 col-xl-10">
                <!-- card -->
                <div class="card card-row shadow-light-lg mb-6 lift liftt-lg mb-3" data-aos="fade-up" style="max-width: 700px;">
                    <div class="row g-0 justify-content-center">
                        <div class="col-md-6">
                        <img src="img/back.jpg" class="img-fluid rounded-start bg-cover" alt="..." style="height: 100%; width: 100%;">
                        </div>
                        <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Fisrt Article</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p><br>
                            <!-- Divider -->
                            <hr class="card-meta-divider">
                        <!-- Date -->
                        <p class="card-text" style="text-align: right;"><small class="text-muted">add the 21/08/22</small></p>
                        </p>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- card -->
                <div class="card card-row shadow-light-lg mb-6 lift liftt-lg mb-3" data-aos="fade-right" style="max-width: 700px;">
                    <div class="row g-0 justify-content-center">
                        <div class="col-md-6">
                        <img src="img/font.webp" class="img-fluid rounded-start bg-cover" alt="..." style="height: 100%; width: 100%;">
                        </div>
                        <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Fisrt Article</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p><br>
                            <!-- Divider -->
                            <hr class="card-meta-divider">
                        <!-- Date -->
                        <p class="card-text" style="text-align: right;"><small class="text-muted">add the 21/08/22</small></p>
                        </p>
                        </div>
                        </div>
                    </div>
                </div>
        </div> 
        <!-- / .row -->
    </div> 
    <!-- / .container -->
</section>